.u-1, .u-1-1, .u-1-2, .u-1-3, .u-2-3, .u-1-6, .u-2-6, .u-3-6, .u-4-6, .u-5-6, .u-6-6 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.u-1-6 {
  width: 16.6667%;
}

.u-1-3, .u-2-6 {
  width: 33.3333%;
}

.u-1-2, .u-3-6 {
  width: 50%;
}

.u-2-3, .u-4-6 {
  width: 66.6667%;
}

.u-5-6 {
  width: 83.3333%;
}

.u-1, .u-1-1, .u-6-6 {
  width: 100%;
}

@media screen and (min-width: 30em) {
  .u-med-1, .u-med-1-1, .u-med-1-2, .u-med-1-3, .u-med-2-3, .u-med-1-6, .u-med-2-6, .u-med-3-6, .u-med-4-6, .u-med-5-6, .u-med-6-6 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .u-med-1-6 {
    width: 16.6667%;
  }

  .u-med-1-3, .u-med-2-6 {
    width: 33.3333%;
  }

  .u-med-1-2, .u-med-3-6 {
    width: 50%;
  }

  .u-med-2-3, .u-med-4-6 {
    width: 66.6667%;
  }

  .u-med-5-6 {
    width: 83.3333%;
  }

  .u-med-1, .u-med-1-1, .u-med-6-6 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .u-lrg-1, .u-lrg-1-1, .u-lrg-1-2, .u-lrg-1-3, .u-lrg-2-3, .u-lrg-1-6, .u-lrg-2-6, .u-lrg-3-6, .u-lrg-4-6, .u-lrg-5-6, .u-lrg-6-6 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .u-lrg-1-6 {
    width: 16.6667%;
  }

  .u-lrg-1-3, .u-lrg-2-6 {
    width: 33.3333%;
  }

  .u-lrg-1-2, .u-lrg-3-6 {
    width: 50%;
  }

  .u-lrg-2-3, .u-lrg-4-6 {
    width: 66.6667%;
  }

  .u-lrg-5-6 {
    width: 83.3333%;
  }

  .u-lrg-1, .u-lrg-1-1, .u-lrg-6-6 {
    width: 100%;
  }
}