@white: #fff;
@black: black;
body {
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  color: @black;
}

.l-box {
  padding: 2em;
}

.header .pure-menu {
  border-bottom-color: black;
  border-radius: 0;
}

.pure-menu-link {
  padding: 1em 1em;
}
.pure-form {
  display: inline-flex;  
}

.photo-box, .text-box {
  overflow: hidden;
  position: relative;
  height: 300px;
  text-align: center;
  display: inline-block;
  background-color: @black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.photo-box-thin {
  height: 120px;
}

.photo-box img {
  display: block;
  height: auto;
}

.text-box {
  color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
  margin: 0.5em 0;
  color: #fff;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 24px;
}

.text-box-subhead {
  font-weight: normal;
  letter-spacing: 0.1em;
}

.form-box {
  text-align: center;
  font-size: 120%;
  border-bottom: 1px solid #eee;
}

.form-box .pure-button {
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
}
.pure-form input[type] {
  margin: 0.3em auto;
  text-align: center;
}

.footer {
  background: @black;
  color: #666;
  text-align: center;
  padding: 1em;
  font-size: 80%;
}

@media (min-width: 30em) {
  .photo-box, .text-box {
    text-align: left;
  }

  .photo-box-thin {
    height: 250px;
  }
}