/* Variables */
@white: #fff;
@black: black;
@logo-blue: rgb(98, 190, 227);

/* Fonts */
@font-face {
  font-family: AgencyFB;
  src: url('assets/fonts/AgencyFB.ttf');
}
@font-face {
  font-family: AgencyFB;
  src: url('assets/fonts/AgencyFB-Bold.ttf');
  font-weight: bold;
}

html {
  font-family: 'AgencyFB', sans-serif;
}
.pure-g {
  font-family: 'AgencyFB',FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
}
.l-box {
  padding: 1em;
}

.pure-menu-heading {
  padding: 1em 1em;
}
.pure-table {
  width: 100%;
  border: 2px solid @white;
  thead {
    background-color: @white;
  }
  th {
    border-left: 2px solid @white;
    border-width: 0 0 0 2px;
    vertical-align: middle;
    text-align: center;
    &:first-child {
      background-color: @black;
      color: @white;
    }
  }
  td {
    border-left: 2px solid @white;
    border-bottom: 2px solid @white;
    vertical-align: middle;
    color: @white;
    text-align: center;
    &:first-child {
      font-weight: bold;
      background-color: @white;
      color: @black;
    } 
  }
}
.pure-table td {
  vertical-align: middle;
}
.text-box.u-1 {
  height: auto;
}
#textInfos {
  float: left;
  margin-right: 2em;
}
.logo-container img {
  min-height: 0;
  margin: auto;
  margin-top: 70px;
}

.blue {
  background-color: @logo-blue;
  p, li {
    color: @white;
  }
}
.flip {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* Description */
.poster-box {
  overflow: hidden;
  position: relative;
  background-color: @black;
  height: 600px;
  article {
    height: 100%;
    text-align: right;
    color: @white;
    text-transform: uppercase;
    background-color: @logo-blue;
    width: 600px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.85;
    background: radial-gradient(circle 10px at -86% 50%, transparent, transparent 597px, @logo-blue 600px);
    background-repeat:no-repeat;
    div {
      margin-right: 50px;
      margin-left: 100px;
    }
    .title {
      font-size: 1.4em;
      color: @white;
      margin-bottom: 0;
    }
    label {
      font-size: 0.5em;
    }
    ul {
      border-right: 2px solid @white;
      list-style-type: none;
      padding-right: 10px;
      margin-right: 50px;
    }
  }
}

.post-avatar {
  border-radius: 20px;
  float: left;
  margin: 1em;
}

@media (min-width: 480px) {
  .post-avatar {
    display: none;
  }
}

@media (min-width: 1050px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 1050px) {
  .desktop-only {
    display: none;
  }
  .u-lrg-1-4, .u-lrg-1-3, .u-lrg-2-6 {
    width: 50%;
  }
  .u-lrg-3-4 {
    width: 100%;
  }
  .text-box.u-1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #textInfos {
    float: none;
    text-align: center;
    margin: 1em;
  }
  .text-box .pure-form {
    text-align: center;
  }
  .pure-menu-link {
    padding: 1em 0.5em;
  }
  .pure-table {
    font-size: 0.9em;
  }
  .photo-box {
    height: 275px;
  }
  .logo-container img {
    margin-top: 30px;
  }
  .text-box {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .pure-table {
    font-size: 0.8em;
  }
  .poster-box {
    article {
      width: 100%;
      background: @logo-blue;
      div {
        margin: 0 15px;
      }
      .title {
        font-size: 1.2em;
      }
      ul {
        margin-right: 25px;
      }
    }
  }
}

@media (max-width: 480px) {
  .text-box {
    height: 400px;
    ul {
      text-align: left;
    }
  }
  .logo-container img {
    margin-top: 10%;
    width: 100%;
  }
  .pure-table {
    font-size: 0.7em;
  }
  #textInfos {
    float: none;
    text-align: center;
    margin: 1em;
  }
  .pure-menu-heading {
    padding-bottom: 5px;
  }
  .pure-form {
    display: block;
  }
  .pure-menu-horizontal .pure-menu-heading {
    display: block;
  }
  .pure-menu-horizontal {
    .pure-menu-list {
      width: 100%;
    }
    .pure-menu-item {
      width: 33.33%;
      text-align: center;
    }
  }
  .u-lrg-1-4:not(.mobile-only) {
    display: none;
  }
  .u-lrg-1-3, .u-lrg-2-6, .u-lrg-1-4 {
    width: 100%;
  }
}